numpy
openai
google-genai
anthropic
elevenlabs
langchain
langgraph
langgraph-checkpoint-sqlite
langchain-openai
langchain-anthropic
langchain-ollama
langchain-google-vertexai
langchain-google-genai
langchain-community
langchain-groq
requests
PyPDF2
soundfile
tqdm
pathlib
fastapi
uvicorn
python-multipart
youtube-transcript-api
bs4
